<!doctype>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="img/weather.png">
        <link rel="stylesheet" href="css/style.css">
       
    </head>
    <body>
        <div class="main-content">
         {{>header}}           
            <h2>{{title}}</h2>
            <em>{{description}}</em>
            <form>
                <input placeholder="Location">
                <Button>Search</Button>
            </form>
            <P id="message-1"></P>
            <P id="message-2"></P>
        </div>
        {{>footer}}
         <script src="js/app.js"></script>
    </body>
</html>